body {
  font-family: "Arial", sans-serif;
  margin-top: 0.9vw;
  margin-bottom: 0.9vw;
  padding: 0px;
  box-sizing: border-box;
  color: #000000;
  overflow-x: hidden;
  background-color: #cecece;
}

header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000000;
  background-color: #fffffff1;
  padding: 1em;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode header {
  background-color: #000000; 
  color: #ffffff; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}


.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #006eff;
  padding-left: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav a {
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;

}
.navbar-nav .nav-item .nav-link {
  color: #ffffff !important; /* Blue for normal mode */
}

body.dark-mode .navbar-nav .nav-item .nav-link {
  color: #ffffff !important; /* White for dark mode */
}


/* Default moon icon color */
.fas.fa-moon {
  color: #ffffff; /* White color for light mode */
}

/* Moon icon color in dark mode */
body.dark-mode .fas.fa-moon {
  color: #FFD700; /* Yellow color for dark mode */
}


.hero {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding: 2em;
  position: relative;
  color: #000000;
  background-color: #fffffff1;
}

body.dark-mode .hero {
  background-color: #000000; 
  color: #ffffff; 
}


.hero img {
  max-width: 250px;
  height: 210px;
  border-radius: 100%;
  margin-bottom: 1em;
  /* animation: bounce 1s infinite alternate; */

  
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.hero h2,
.hero p {
  margin-top: 20px;
  animation: fadeInUp 1s ease-out;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  padding:0px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project {
    width: 30%;
    margin: 1em;
    border: 3px solid #9900ff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: auto;
  }
  
  .project h3,
  .project p {
    padding: 0.5em;
    margin: 0;
  }
  
  
  @media (max-width: 768px) {
    .project {
      width: 100%;
    }
    
    .portfolio {
      justify-content: center;
    }
  }
  
  

.about {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000000;
  background-color: #fffffff1;
  padding: 4em 2em;
  text-align: center;
  
}

body.dark-mode .about {
  background-color: #000000;
  color: #ffffff; 
}

.footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-right: 20px;
  font-size: 30px;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

nav.dark-mode-nav {
  background-color: #000000;
}


.card {
  position: absolute;
  top: 10px; 
  right: 20px; 
  display: flex;
  flex-direction: row; 
  width: auto; 
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-content {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid #6d6d6d; 
}

.card-content:last-child {
  border-right: none; 
}


#day,
#date,
#clock {
  font-weight: bold;
  color: #333333;
}


@media (max-width: 768px) {
  .card {
    top: auto; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    right: auto;
    bottom:auto;
  }
}

